@model List<MVC.Models.TableViewModel.UserTableViewModels>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="background-image: linear-gradient(to right top, #1e37da, #004fe0, #0061e2, #0072e1, #0081de, #0081e1, #0082e5, #0082e8, #0072f1, #0060f6, #2848f6, #551ff0); " >
    <div class="bg-light p-5  h-100">
        <h1 class="text-center">Usuarios</h1>

        <div class="row">
            <div class="col-lg-12 table-responsive">
                <table class="table table-striped nowrap" id="example">
                    <tr class="bg-primary">
                        <th>#</th>
                        <th>Usuario</th>
                        <th>Email</th>
                        <th>Edad</th>

                    </tr>
                    @if (true)
                    {
                        int entero = 0;
                        foreach (var oElemento in Model)
                        {

                            entero = entero + 1;
                            <tr>
                                <td> @entero</td>
                                <td> @oElemento.Usuario</td>
                                <td> @oElemento.Email</td>
                                <td> @oElemento.Edad</td>
                            </tr>

                        }
                    }

                </table>
            </div>
        </div>
    </div>

</body>




