@model List<MVC.Models.ViewModels.UserTableViewModels>
@{
    ViewBag.Title = "Index";
}

<body >
    <h1 class="text-center">Usuarios</h1>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-condensed">
                <tr class="bg-primary">
                    <th>#</th>
                    <th>Usuario</th>
                    <th>Edad</th>

                </tr>

                @foreach (var oElemento in Model)
                { 
                    <tr>
                        <td> @oElemento.Id</td>
                        <td> @oElemento.Usuario</td>
                        <td> @oElemento.Edad</td>
                    </tr>
                }
            </table>
        </div>
    </div>

</body>


